.header-list-items span{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Normal';
}
.header-nav-items-link .header__active-menu-item{
    width: 74px !important;
    height: 35px !important;
    border-radius: 60px !important;
    display: flex !important;
    transform: translateY(-6px) !important;
    align-items: center;
    justify-content: center;
}
.header-logo-link .header-logo-image-wrapper{
    width: 108px;
    height: 67px;
}
.header-custom{
    padding-top: 10px !important;
    padding-bottom: 0px !important;
    justify-content: space-between;
    display: flex;
}
.custom-cart-count-bubble {
    font-size: 14px;
    font-family: 'Normal';
    top: 4% !important; 
    left: 66% !important;
    height: 2.2rem !important;
    width: 2.2rem !important;
}
.header-nav-items-link:hover, .header-list-items:hover , .header-nav-items-link .header-active-menu-item:hover,
.header-nav-items-link , .header-list-items , .header-nav-items-link .header-active-menu-item{
    text-decoration: none !important;
    list-style-type: none !important;
}

@media screen  and (max-width:980px){
    .header-custom{
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr !important;
    }
}
