.marquee-block .marque-image {
    width: 40px;
    height: 40px;
}

.marquee-block .marquee-text {
    font-size: 18px;
}

.marquee-blocks .marquee-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.marquee-section .marquee-blocks {
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: absolute;
    width: max-content; /* Make the width dynamic */
    animation: marquee 20s linear infinite;
}

.marquee-section {
    height: 55px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

@keyframes marquee {
    0% { transform: translateX(0); } /* Start from the right */
    100% { transform: translateX(-50%); } /* Move to the left */
}
