.marquee-block .marque-image {
    width: 38px;
    height: 38px;
}

.marquee-block .marquee-text {
    font-size: 16px;
}

.marquee-blocks .marquee-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.marquee-section .marquee-blocks {
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: absolute;
    width: 100%; 
    animation: marquee 20s linear infinite;
}

.marquee-section {
    height: 60px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

@keyframes marquee {
    0% { transform: translateX(0); } 
    100% { transform: translateX(-100%); } 
}

@media screen and (max-width:980px) {
    .marquee-section .marquee-blocks{
        animation: marquee 10s linear infinite;
    }
}
@media screen and (max-width:767px) {
    .marquee-section .marquee-blocks{
        animation: marquee 6s linear infinite;
    }
}